.list-buttons {
   width: 80px;
}

.item-list-buttons {
   width: 80px;
   display: flex;
   justify-content: space-around;
}

.item-list-buttons {
   vertical-align: center;
}


.form-grid {
   padding: 0;
}
