.mr-5 {
   margin-right: 5px;
}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.content-wrapper {
   flex-grow: 1;
}

.treeview-menu-open {
   display: block;
}